


/*About E-shelf */

.bg-container{
  
  background: radial-gradient( #EE0979 ,#FF6A00);

  background-size: cover;
}  

    .shelf-head{
        text-align: center;
    }
    .shelf-heading{
    color: rgb(255, 251, 251);
    font-size: 50px;
    font-family: bree serif;
    background-color:rgb(76, 213, 199);
    margin: 10px;
    
    }
    .p1
    {
        color:white;
        font-size: 21px;
        font-weight: 550;
        font-family: "red serifs"
        
    }
    .first-head{
        color:#b54ca0;
        font-family: 'Tangerine', serif;
      font-size: 48px;
      text-shadow: 4px 4px 4px #aaa;
    }
    .home-image-container{
        border-radius: 15px 35px 25px;
        border-style: solid;
        border-color: none;
        border-width: 0px;
        
    }
    #home-image-1{
        height:100px;
        width:300px;
        
    }
    #home-image-2{
        height:130px;
        width:230px;
    }
    #home-image-3{
        height:130px;
        width:230px;
    }
    .home-details{
        color:rgb(243, 59, 59);
        font-size: 21px;
        font-weight: 700;
        font-family: "red serifs"
    }
    
    
    .color-background{
            background-image: linear-gradient(to right,#4AC29A ,#BDFFF3);
            background-size:cover;

    }
    .logo-image {
        height: 60px;
        width: 100px;
        border-radius: 10px;
        
      }


.home-rich-img{
        width:230px;
        height:300px;

}
.home-banner-text{
        color: rgb(244, 241, 244);
  font-family: "Caveat";
  font-size: 50px;
  padding: 10px;
  margin:5px;
}
.home-banner-border{
        background-color: white;
        width: 100%;
        /* background: linear-gradient(to right, #33debc, #30d1c3); */
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.485);
        transform: scale(1);
        transition:transform 0.5s ease-in-out; 
        transition: 1s;

}     
.home-banner-border:hover {
        transform: scale(1.09);
}
.home-banner-border #richdad:hover {
        transform: scale(1.04);
      }
      
.home-banner-border #laws:hover {
transform: scale(1.04);
}
.home-banner-border #pousm:hover {
transform: scale(1.04);
}

/* Beautiful Button */


/* CSS */
.button-92 {
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #d5ef10;
  /* background color */
  color: #00000000;
  border: 5px;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
  border-radius:5px;
}

.button-92:hover,
.button-92:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-92:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.button-92 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
}

/* Beautiful Button css Close */

.home-cards{
        
  width:100%;
  /* background: linear-gradient(to right, #33debc, #30d1c3); */
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.485);
  transform: scale(1);
  transition:transform 0.5s ease-in-out; 
  transition: 1s;

}  

.first-box{
  position: absolute;
  right:30%;
  top:100%;
}
.third-box{
  position: absolute;
  right:30%;
}

.footer-section {
  background-color: #0d2436;
}

.footer-section-mail-id {
  color: #959ead;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

.footer-section-address {
  color: #959ead;
  font-family: "Roboto";
  font-size: 14px;
}