body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Vertically center the content */
    height: 100vh; /* Utilize the entire viewport height */
    /* background: linear-gradient(to right, #11998E, #38EF7D); */
    background-size: cover;
    background: linear-gradient(to right,#EE0979, #FF6A00);

}
.suggestion-form {
    width: 100%;
    margin-top: 20px;
    background-color: rgb(9, 206, 196);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding a shadow */
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center the content */
}

input {
    /* Set your desired width */
    width: calc(100% - 16px); /* Subtract padding */
    margin-bottom: 10px; /* Maintain margin-bottom */
}

h1 {
    text-align: center;
}



form {
    display: flex;
    flex-direction: column;
}

label,
input,
textarea {
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
}

button {
    padding: 8px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
/* Add styles for the greeting message */
.greeting {
    text-align: center;
    margin-top: 20px;
    background-color: #05a1b5;
    padding: 10px;
    border-radius: 5px;
    color:white;
}
.outer-head{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
   font-style: italic;
   font-weight: 900;
   color:blanchedalmond;
   
}
.head{
  font-family: 'Times New Roman', Times, serif;
  font-weight:700;
  font-size:35px;

}
.label-text{
    font-family: 'Times New Roman', Times, serif;
    font-weight:700;
    font-size:25px;
}





